/*
 * ClearSS
 * 
 * Use this as a starter CSS file. It will save time and headaches if you provide sensible defaults for your styles.
 * 
 * Author: Andrei Eftimie
 * Contact: andrei@eftimie.com
 * 
 * Creative Commons License http://creativecommons.org/licenses/by/3.0/
 * 
 */

/*
 * Reset
 * Loosely based on Eric Meyer's CSS Reset http://meyerweb.com/eric/tools/css/reset/ 
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
fieldset, img { border: none; vertical-align: middle; }

/*
 * Margins
 */
p, ul, ol, dl, table, address, pre, fieldset { margin: 0 0 1.25em 0; }
hr { margin: 1.25em 0 2.375em 0; height: .125em; }

/*
 * Hyperlinks
 */
a { text-decoration: underline; overflow: hidden; }
a:hover, a:focus { text-decoration: none; }

/*
 * General Document Settings
 */
body { margin: 2.5em; font: 1em/1.25em sans-serif; }

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 { font-size: 1em; line-height: 1em; margin: 1em 0; }
h1 { font-size: 2em; line-height: 1.25em; margin: 0 0 .625em 0; }
h2 { font-size: 1.75em; line-height: 1.4285em; margin: .7142em 0; }
h3 { font-size: 1.5em; margin: .833em 0; line-height: .833em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.125em; margin: 1.1111em 0; line-height: 1.1111em; }

/*
 * Lists
 */
ul { margin-left: 2.2em; }
li ul, li ol { margin-top: 0; margin-bottom: 0; }
ol { margin-left: 2.2em; }
ol ul li { list-style: disc !important; }
ol li { list-style-type: decimal; }
ol li ol li { list-style-type: lower-alpha; }
ol li ol li ol li { list-style-type: upper-roman; }

/*
 * Definition List
 */
dt { font-weight: bold; }
dd { margin-bottom: 1.25em; }

/*
 * Table
 */
table { border-collapse: collapse; border: 1px solid #999; width: 100%; margin-bottom: 1.2em; }
th, td { text-align: left; padding: 10px 8px 9px 8px; }
th, td { border: 1px solid #999; }
caption, th { font-weight: bold; }

/*
 * Quotes
 */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*
 * Code
 */
pre { outline: 1px solid #999; font-size: 1em; margin-bottom: 20px; }
code { font-size: 1em; line-height: 1.25em; }

/*
 * Forms
 */
input, select, textarea, button { font-size: 1em; font-family: inherit; padding: .3em; }
textarea { padding: .425em .3em; }
[type=submit] { padding: 0; margin: .55em 0; }
fieldset { border: 1px solid #999; padding: 1.20em 2.5em; }

form ol { margin: 0; }  
form li { list-style: none; margin-bottom: 1.25em; }  
form li label { display: block; }  
form li input { margin: .225em 0; }
form .inline label { display: inline; }  
form .inline input { margin-right: 1em; }