textarea { border: 1px solid #ccc; margin: 1em; width: 40%; padding: 0.5em; color: black; float: left; position: relative; font-size: 12px; overflow: hidden;
  -moz-border-radius: 1em;-webkit-border-radius: 1em;
  }
.output  {border: 1px solid #ccc; }
.input { clear: both; }
.note { clear: both;  font-size: 20px; top: 0; right: 0; font-weight: bold; color: green; padding: 0 15px; margin: 0; font-family: arial;}

 fieldset { position:relative; }
p.autoHeight {
 margin:0;
 margin-left: -10000;
 position:absolute;
 top: 0;
 border: 1px solid red;
}
