footer
  p 
    | FitText is brought to you by 
    a(href="http://paravelinc.com") Paravel
    | , as is 
    a(href="http://letteringjs.com") >Lettering.js
    |. Follow 
    a.trent(href="http://twitter.com/trentwalton") Trent
    |, 
    a.dave(href="http://twitter.com/davatron5000") Dave
    | and 
    a.reagan(href="http://twitter.com/raygunray") Reagan
    | on Twitter.