h3 Hash Alias
p # is a shortcut for referring to the first argument in a function. Useful for terse function definitions:

textarea 
  square = -> #*# 

p Additionally, #n refers to the nth argument (n >= 0).
textarea
  times = -> #*#1 
