h3 .= (dot equals) and ||= (OR equals)

p 2 extra assignment operators, ||= and .=. They work in a similar method as += etc.

textarea
  location.href .= replace "?old", "?new"
  name .= toUpperCase()
  opts ||= {}