h3 Optional brackets

p Kaffeine provides support for optional Brackets In Function Calls and for certain keywords

textarea
  remove eggs.shell
  mix eggs, milk.off ? milk : null
  outer inner innermost


p keywords such as <code>for</code> and <code>if</code> can omit their brackets (as long as the statement does not become amiguous). The brackets are inserted either before a newline, a left brace ‘{’ or a comma (for one liners)

textarea
  for i in A
    run A[i]

  if name == "john", return false

  while we_have_time { 
    run tasks 
  }