h3 Ideas going forward

h4 Array comprehensions 

textarea 
  x = for y of myArray {
        if y > 10, break 
        x += y
      }

h4 auto-slice arguments
  
p Within any function, a reference to arguments will be auto-converted to a sliced version (meaning it can be used as a proper array object).

h4 Existential ? operator

p extend implicit return through if blocks