h3 this, this.constructor

p This module provides an Ruby style aliases for:

ul
  li <code>this</code> in the form of @
  li <code>this.constructor</code> in the form of @@

textarea
  Animal = (type, color) -> {
    @type = type
    @@count += 1
    @@all.push @
  }