h3 this, this.constructor

p This module provides an Ruby style aliases for:

ul
  li this in the form of @
  li this.constructor in the form of @@

h4 Example

textarea
  Animal = -> (type, color) {
    @type = type
    @@count += 1
    @@all.push @
  }