/* @override http://localhost:8888/css/style.css */

body {
	background: #c44032;
	color: #f4f1de;
	font-size: 100%;
	font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
	line-height: 1.4em;
}

@font-face {
    font-family: 'HirukoBlackAlternate';
    src: url('../fonts/hirukoblackalternate-webfont.eot');
    src: url('../fonts/hirukoblackalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hirukoblackalternate-webfont.woff') format('woff'),
         url('../fonts/hirukoblackalternate-webfont.ttf') format('truetype'),
         url('../fonts/hirukoblackalternate-webfont.svg#HirukoBlackAlternate') format('svg');
    font-weight: normal;
    font-style: normal;

}



.download{
	font: 10px "HirukoBlackAlternate", sans-serif;
 	text-align: left;
 	margin-bottom: 0px;}

a{
	color: #f4f1de;
 	text-decoration: underline;
 	-webkit-transition: color 0.15s ease-out;
	-moz-transition: color 0.15s ease-out;
 	}
 	
a:hover{
 	color: #863027;}

 	
.download a{
 	padding: .095em .8em;
 	background: url(../img/arrow.png) no-repeat;
 	background-size:100%;
 	margin-left: .4em;
 	-webkit-transition: margin 0.15s ease-out;
	-moz-transition: margin 0.15s ease-out;
	text-decoration: none;}

.download a:hover{
	color: #f4f1de;
	margin-left: .6em;
	margin-right: -.2em;}
 	

p{	
	font-size: 1em;
	margin: 0 0 1.5em 0;}

h3 {
  font-size: 1.2em;
}
.container {
	width: 80%;
	max-width: 1500px;
	margin: 0 auto;
/*  background-colord: #da4838;*/

}

img{
	width: 96%;
	max-width: 96%;
	margin-bottom: 5%;
	margin-top: 1%;
	}

header {
	margin: 3.5% 0 4%;
}

footer{
	border-top: .12em solid #f4f1de;
	padding-top: 2%;
	margin-top: 3%;
 	display: block;
 	font-size: .8em;}

h1 {
/*  text-align: center;*/
	text-indent: -.04em;
	color: #f4f1de;
	font: 100px "HirukoBlackAlternate", sans-serif;
/*  font-weight: 900;*/
	display: inline-block;
	margin: 0 auto;
	line-height: 1;
	width: 100%;
	text-shadow: #863027 .01em .01em 0,
			#863027 .02em .02em 0,
			#863027 .03em .03em 0,
			#863027 .04em .04em 0,
			#863027 .05em .05em 0,
			#863027 .06em .06em 0,
			#863027 .07em .07em 0,			
			#863027 .08em .08em 0,
			#863027 .09em .09em 0,
			#863027 .1em .1em 0;
	position: relative;
}

h1 span {
  position: relative;
}

h1 span.char4 {
	letter-spacing: .05em;
	margin-right: -.107em;
}

.char2 {
	margin-right: .01em;
}

.char3 {
	margin-right: -.01em;
}

.char6 {
	margin-right: .035em;
}

::-moz-selection{ background: rgba(255,255,255, .3); color:#fff;  }
::selection { background: rgba(255,255,255, .3); color: #fefcf2;  } 


/*@media screen and (min-width: 700px) and (max-width:1500px) {*/
/*@media screen and (max-width:480px) {
  p{  
  font-size: .9em;
  }
}


@media screen and (min-width: 700px) and (max-width:1199px) {
  p{  
  font-size: 1.4em;
  }
}


@media screen and (min-width: 1200px) {
  p{  
  font-size: 2em;
  }
}
*/


            
body {
  overflow-y: scroll;
}
#site {
  width: 500px;
  padding: 40px; margin: 0 auto;
}
h1 {
  margin-bottom: 40px;
  font-size: 24px;
}
.page-set {

}
.page {
  padding: 20px; margin-bottom: 40px;
  background-color: #eee;
  -moz-border-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
}

/*******/
pre {
 border-left: 5px solid #863027;
 font: 12px/1.4 monaco,"helvetica neue",helvetica;
 padding: 3px 0 3px 12px;
 white-space: pre-wrap;
 word-wrap: break-word;
 float: left;
 background: #F4F1DE;
}

.code {
  overflow:hidden;
   width: 100%;
}
pre, textarea {
/*  background: none repeat scroll 0 0 #FFFFFF;*/
  float: left;
/*  color: black;*/
color: black;
  margin: 10px 10px 15px 0;
  width: 448px;
  overflow: hidden;
}

/*********/

.javascript .x {
  color: #00f;
}


.javascript .symbol {
  color: #f00;
}

.javascript .comment {
  color: #808080;
}
.javascript .string {
  color: #008000;
}
.javascript .keywords {
  color: #00f;
}
.javascript .global {
  color: #00f;
}
.javascript .brackets {
  color: #a00;
}

/*pre {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
}
*/