html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: Verdana;
  font-size: 14px;
  color: #222;
  background: #222;
}

pre.code, .editbox {
  color: #666;
}

.editbox p {
  margin: 0;
}

span.js-punctuation {
  color: #FFF8DC;
}

span.js-operator {
  color: #23B3FF;
}

span.js-keyword {
  color: #00FFFF;
}

span.js-atom {
  color: #B0C4DE;
}

span.js-variable {
  color: #FFF8DC;
}

span.js-variabledef {
  color: #FA8072;
}

span.js-localvariable {
  color: #FA8072;
}

span.js-property {
  color: white;
}

span.js-comment {
  color: #666;
}

span.js-string {
  color: #FFA500;
}
