!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Kaffeine - extended syntax for JavaScript
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
    link(rel="stylesheet", href="css/style.css", type="text/css")
    link(rel="stylesheet", href="css/sausage.css", type="text/css")
    //if IE
      script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="js/jquery.lettering-0.6.1.min.js")
    script(src="js/jquery.fittext.js")
    script(src="js/jquery.widget.js")
    script(src="js/jquery.sausage.js")
    script(src="try/kaffeine-browser.js")
    script(src="js/highlighter.js")
    script(src="js/app.js")
    script
      $(document).ready(function() {
        $("h1").lettering();
      });
    body
      .container
        != partial("./sections/header")
        != partial("./sections/overview")      
        .section
          !=partial("./sections/started")
        .section
          !=partial("./sections/arrow")
        .section
          !=partial("./sections/strings")
        .section
          !=partial("./sections/bang")
        .section
          !=partial("./sections/for_loop")
        .section
          !=partial("./sections/optional_brackets")
        .section
          !=partial("./sections/this")
        .section
          !=partial("./sections/hash")
        .section
          !=partial("./sections/operators")
        .section
          !=partial("./sections/using")
        .section
          !=partial("./sections/classes")
        .section
          !=partial("./sections/pipe")
        .section
          !=partial("./sections/default_arguments")
        .section
          !=partial("./sections/implicit_return")
        .section
          !=partial("./sections/english")
        .section
          !=partial("./sections/implicit_vars")
        .section
          !=partial("./sections/installation")
        .section
          !=partial("./sections/roadmap")
        !=partial("./sections/footer")
      script
        $("h1").fitText(0.38)
        $(".download").fitText(3)